<h1>Poetry in Motion Homepage</h1>

<h3>View Posts</h3>
<section>
    <form action = "/posts" method = "GET">
        <input type = "submit" value="View Posts">
    </form>
</section>

<h3>New Posts</h3>
<section>
    <form action = "/posts" method = "POST">
        <input type = "submit" value="Make a New Post">
    </form>
</section>