<h1 id="landingPageTitle">Welcome to Poetry in Motion!</h1>

<div>
    <p id="intro">Poetry in Motion is the perfect app if you want to get your creative juices flowing. Click to create a new post and you will get a random image to inspire your writing, whether it is a few words or a few sentences. Feel free to take a look at other people's posts, too!</p>
</div>

<div id="homepage">
    <section id="view">
        <form action = "/posts/index" method = "GET">
            <input id="viewPostsButton" class="button" type = "submit" value="View Posts">
        </form>
    </section>


    <section id="new">
        <form action = "/posts/new" method = "GET">
            <input class="newButton" type = "submit" value="Write a New Post">
        </form>
    </section>
</div>