<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Poetry in Motion</title>
</head>
<body>
    <header class= "navBar">
        <h1 id="fixedHeader">Poetry in Motion</h1>
        <nav>
            <ul>
                <%if(!currentUser) {%>
                    <li class="navBarElement"><a href="/auth/signup">Sign Up</a></li>
                    <li class="navBarElement"><a href="/auth/login">Log In</a></li>
                <%} else {%>
                    <p id="userName" class="navBarElement"><%= currentUser.name %> is signed in</p>
                    <li class="navBarElement"><a href="/auth/logout">Log Out</a></li>
                    <li class="navBarElement"><a href="/profile">Profile</a></li>
                <%}%>
            </ul>
        </nav>
    </header>
    <div class = "container">
    <%- include('partials/alerts.ejs') %>
    <%- body %>
    </div>
</body>
</html>