<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/design-thinking.png">
    <!--Favicon attribution to Eucalyp <div>Icons made by <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Poetry in Motion</title>
</head>
<body>
    <header class= "navBar">
        <h1 id="fixedHeader">Poetry in Motion</h1>
        <nav>
            <ul>
                <%if(!currentUser) {%>
                    <div class="navBarRegister">
                    <li class="navBarRegister"><a href="/auth/signup">Sign Up</a></li>
                    <li class="navBarRegister"><a href="/auth/login">Log In</a></li>
                    </div>
                <%} else {%>
                    <p id="userName" class="navBarElement"><%= currentUser.name %> is signed in</p>
                    <div class="dropdown">
                        <button class="dropdownButton">
                            <i class="fa fa-caret-down">Actions</i>
                        </button>
                        <div class="dropdown-content">
                            <li class="navBarElement"><a href="/profile">Profile</a></li>
                            <li class="navBarElement"><a href="/posts/index">See What's Trending</a></li>
                            <li class="navBarElement"><a href="/posts/new">Create a New Post</a></li>
                            <li class="navBarElement"><a href="/auth/logout">Log Out</a></li>
                        </div>
                    </div>
                <%}%>
            </ul>
        </nav>
    </header>
    <div class = "container">
    <%- include('partials/alerts.ejs') %>
    <%- body %>
    </div>
</body>
</html>