@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

body {
    font-family: 'Calistoga', sans-serif;
    background-image: url("/hiclipart.com.png");
    background-color: lightblue;
}

img {
    display: block;
    margin: 0 auto;
    size: 70%;
}

#postTitle, #author, #date, #postContent, #intro {
    text-shadow: 1px 1px 0 white;
    text-align: center;
}

#postTitle, #postContent, #profileName, .post {
    font-size: 250%;
}

#joinDate, .postDate, .navArrow {
    font-size: 125%;
}

#comment {
    text-shadow: 1px 1px 0 white;
    border: 1px solid black;
    background-color: lightgrey;
    padding: 0 0 0 8px;
}

#deleteButton {
    background-color: red;
    cursor: pointer;
}

#updateButton {
    background-color: green;
    cursor: pointer;
}

#commentButton {
    background-color: blue;
    color: white;
    cursor: pointer;
}

#viewPostsButton {
    background-color: black;
    color: white;
    cursor: pointer;
}

.newButton {
    background-color: purple;
    color: white;
    display: inline-block;
    margin: 0 auto;
    border-radius: 12px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.button {
    margin: 0 auto;
    border-radius: 12px;
    width: 150px;
    height: 50px
}

.buttonContainer {
    display: inline-block;
    margin: 0 auto;
    width: 30%;
    text-align: center;
}

.navArrow {
    size: 155%;
}

nav {
    height: 100px;
    position: sticky;
    top: 0;
}

/*.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 25%;
    height: 100px;
}

.navBarElement {
    display: inline;
    
}*/

.container {
    padding:20px;
    margin-top:30px;
}

#homepage {
    display: flex;
    justify-content: space-around;
}

#view {
    align-self: flex-start;
}

#new {
    align-self: flex-end;
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
    img {
        width: 800px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    img {
        width: 500px;
    }
}

@media screen and (min-width: 421px) and (max-width: 767px) {
    img {
        width: 300px;
    }
    .auth {
        display: block;
        margin: 10px auto;
        text-align: center;
    }
    .buttonContainer {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
    }
    form, h4 {
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    img {
        width: 250px;
        margin: 0 auto;
    }
    .button, .newButton, form {
        margin: 0 auto;
    }
    form, h4 {
        text-align: center;
    }
    .buttonContainer {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
    }
    .container {
        padding: 0;
    }
    .auth {
        display: block;
        margin: 0px auto;
    }
}

