@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

body {
    font-family: 'Calistoga', sans-serif;
    background-image: url("/hiclipart.com.png");
    background-color: lightblue;
    
}

#postTitle, #author, #date, #content {
    text-shadow: 1px 1px 0 white;
    text-align: center;
}

#comment {
    text-shadow: 1px 1px 0 white;
    border: 1px solid black;
    background-color: lightgrey;
}