<h1>Trending Posts</h1>

<% posts.forEach(post => { %>
    <h3>
        <a href="/posts/<%= post.id %>"><%= post.title %></a>
    </h3>
    <p>by <%= post.user.name %> </p>
    <p><%= post.dataValues.createdAt.toLocaleDateString("en-US") %></p>
<% }) %>

<a href="/">&larr; Back to Home</a>