<h1>Write a Post</h1>
<img src=<%=imageUrl%>>

<footer>
    <p>Photo by <a href="<%=photographerLink%>/?utm_source=Poetry_In_Motion&utm_medium=referral"><%=photographerName%></a> on <a href="https://unsplash.com/?utm_source=Poetry_In_Motion&utm_medium=referral">Unsplash</a>
</footer>